{{- define "main" -}}

  {{- if site.Taxonomies.categories -}}

    {{- $Parameters := .Scratch.Get "plugin-category-cloud.Parameters" -}}
    
    {{- $MenuURLs := partial "plugin-category-cloud/menu-urls.html" . -}}  
    
    {{- $Calculations := partial "plugin-category-cloud/calculate-steps.html" . -}}    
        
<!-- Open up the div tag for the cloud -->
<div id="{{ $Parameters.Style.WrapperID }}">
    
      <!-- Iterate the unordered categories -->
      {{- range $anchorized_name, $taxonomy := site.Taxonomies.categories }}
      
        <!-- Guard against categories in the exclusion list -->
        {{- if not (in $Parameters.Config.ExclusionList $anchorized_name) -}}
        
          <!-- Calculate the size and weight -->
          {{- $count := $taxonomy.Count -}}            
          {{- $step := index $Calculations.Steps ($count | string) -}}    
          {{- $size := add $Parameters.Style.MinSize 
                       (mul $step $Calculations.SizeIncrement) -}}      
          {{- $weight := add $Parameters.Style.MinWeight (mul $step 100) -}}
          
          <!-- Generate the category URL -->
          {{- $href := path.Join ("/categories/" | relLangURL)
                        $anchorized_name }}
          {{- with (index $MenuURLs $anchorized_name) -}}
            {{- $href = . -}}
          {{- end -}}
          
          <!-- Generate the style attribute -->
          {{- $style := printf "font-size:%vrem;font-weight:%v" $size $weight -}}
          
          <!-- 
            Generate the display name, 
            defaulting to the anchorized form 
            -->
          {{- $name := $anchorized_name -}}
          
          <!-- Check for an explicit entry for this category -->
          {{- with (index $Parameters.Config.DisplayNames $name) -}}
          
            {{- $name = . -}}
          
          <!-- Otherwise, handle humanizing when specified -->
          {{- else -}}
          
            {{- if $Parameters.Config.Humanize -}}
            
              {{- $name = delimit 
                (apply (split $name "-") "humanize" ".") " " -}}
            
            {{- end -}}
          
          {{- end -}}
              
  <!-- Generate the anchor tag for this category -->      
  <a href="{{ $href | safeURL }}" style="{{ $style | safeCSS }}">     
    {{- $name -}}
    <span> ({{ $count }})</span>    
  </a>
        
        {{- end -}}<!-- Close if -->
        
      {{- end -}}<!-- Close range -->
    
</div>
    

  {{- end -}}<!-- Close if -->

{{- end -}}<!-- Close block -->