{{- define "main" -}}

  {{- if site.Taxonomies.categories -}}

    {{- if not (.Scratch.Get "plugin-category-cloud.Parameters") -}}
      {{- partial "plugin-category-cloud/load-parameters.html" . -}}
    {{- end -}}

    {{- with (.Scratch.Get "plugin-category-cloud.Parameters") -}}
    
<div id="{{ .Style.WrapperID }}">
    
      {{- $exclusions := .Config.ExclusionList -}}
      {{- $steps := .Calculations.Steps -}}
      {{- $menu_urls := .MenuURLs -}}
      {{- $display_names := .Config.DisplayNames -}}
      {{- $humanize := .Config.Humanize -}}
      {{- $unbreakable := .Config.UnbreakableLinks -}}
      
      {{- range $anchorized_name, $taxonomy := site.Taxonomies.categories }}
      
        {{- if not (in $exclusions $anchorized_name) -}}
        
          {{- $count := $taxonomy.Count -}}            
          {{- $step := index $steps ($count | string) -}}    
          
          {{- $href := path.Join ("/categories/" | relLangURL) $anchorized_name }}
          {{- with (index $menu_urls $anchorized_name) }}{{ $href = . }}{{ end -}}
                    
          {{- $name := $anchorized_name -}}      
          {{- with (index $display_names $name) }}          
            {{- $name = . -}}          
          {{- else -}}
            {{- if $humanize -}}            
              {{- $name = delimit (apply (split $name "-") "humanize" ".") " " -}}           
            {{- end -}} 
          {{- end -}}
              
  <a href="{{ $href | safeURL }}" class="step-{{ $step }}">
    {{- $name }}<span> ({{ $count }})</span>
  </a>
        
        {{- end -}}        
      {{- end -}}
    
</div>
    
    {{- end -}}
  {{- end -}}
{{- end -}}