{{- $categories := slice -}}


{{- $Parameters := .Scratch.Get "plugin-category-cloud.Parameters" -}}
  

{{- range site.Taxonomies.categories.ByCount -}}
  {{- if not (in $Parameters.Config.ExclusionList .Name) -}}
    {{- $categories = $categories | append . -}}
  {{- end -}}
{{- end -}}
  

{{- $category_count := len $categories -}}


{{- $step_count := div (sub $Parameters.Style.MaxWeight $Parameters.Style.MinWeight) 100 -}}


{{- $scratch := newScratch -}}


{{- $skip_count := 0 -}}


{{- range $step := (seq $step_count 1) -}}


  {{- $consider_count := sub $category_count $skip_count -}}
  

  {{- if $consider_count -}}
  

    {{- $considered_categories := last $consider_count $categories -}}
    

    {{- $total := 0 -}}
    {{- range $considered_categories -}}        
      {{- $total = add $total .WeightedPages.Count -}}
    {{- end -}}
  

    {{- $average := div $total ($consider_count | float) -}}
    

    {{- range $considered_categories -}}        
          

      {{- if (ge .WeightedPages.Count $average) -}}


        {{- $scratch.SetInMap "Steps" (.WeightedPages.Count | string) $step -}}
        

        {{- $skip_count = add $skip_count 1 -}}          
        
      {{- end -}}
      
    {{- end -}}
    

  {{- else -}}      
  
    {{- if (ge $step 1) -}}
    
      {{- $unused_steps := $step -}}        
      {{- $assignable_step := 1 -}}
                        
      {{- $scratch.Set "UnusedSteps" dict -}}
      
      {{- $last_index := sub $category_count 1 -}}
      
      {{- range $index := (seq $last_index 0) -}}
      
        {{- $category := index $categories $index -}}
                  
        {{- if $unused_steps -}}
          
          {{- $count := $category.WeightedPages.Count -}}
          
          {{- if not (isset ($scratch.Get "UnusedSteps") ($count | string)) -}}
          

            {{- $current_step := index ($scratch.Get "Steps") ($count | string) -}}
            {{- $found_another := false -}}
              
            {{- if (gt $index 0) -}}
            
              {{- $next_index := sub $index 1 -}}
              
              {{- range (seq $next_index 0) -}}
              
                {{- $check_count := (index $categories .).WeightedPages.Count -}}
                {{- with (index ($scratch.Get "Steps") ($check_count | string)) -}}
                  {{- $found_another = or $found_another (eq . $current_step) -}}
                {{- end -}}
              
              {{- end -}}
            
            {{- end -}}
          
            {{- $scratch.SetInMap "UnusedSteps" ($count | string) $assignable_step -}}  
            {{- $assignable_step = add $assignable_step 1 -}}
            {{- if $found_another -}}
              {{- $unused_steps = sub $unused_steps 1 -}}
            {{- end -}}
          
          {{- end -}}
        
        {{- end -}}
      
      {{- end -}}
      
      {{- $new_assignments := $scratch.Get "UnusedSteps" -}}
      {{- if $new_assignments -}}
      
        {{- range $key, $value := $new_assignments -}}
          
          {{- $scratch.SetInMap "Steps" $key $value -}}
        
        {{- end -}}
        
      {{- end -}}
      
    {{- end -}}
    
  {{- end -}}

{{- end -}}

{{- $MinSize := $Parameters.Style.MinSize | float -}}
{{- $MaxSize := $Parameters.Style.MaxSize | float -}}
{{- $SizeSpread := sub $MaxSize $MinSize -}}


{{- $size_increment := div $SizeSpread $step_count }}

{{- $Calculations := dict
  "Categories" $categories
  "CategoryCount" $category_count
  "StepCount" $step_count
  "Steps" ($scratch.Get "Steps")
  "SizeIncrement" $size_increment
  -}}

{{- $Parameters = merge $Parameters (dict "Calculations" $Calculations) -}}

{{- .Scratch.Set "plugin-category-cloud.Parameters" $Parameters -}}