#category-cloud { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: baseline;
  gap: 10px 10px;
  width: 90%;
  max-width: 900px;
  padding: 0px 20px;
  margin: 40px auto; 
}

.category-cloud-link { 
  color: #666; 
  margin: 0px;
  padding: 0px;
  line-height: 1;
}

.category-cloud-link:hover { color: #000; }