{{- /* Inject category cloud styling into page head */ -}}

{{- $display_page_counts := true -}}

{{- /* Resolve the data file and check for parameter value */ -}}
{{- $data_file := site.Data.plugin_category_cloud_params -}}
{{- $data_file = $data_file | default site.Data.plugin_category_cloud.params -}}

{{- with $data_file -}}
  {{- if (isset . "DisplayPageCounts") -}}
    {{- $display_page_counts = .DisplayPageCounts -}}
  {{- end -}}
{{- end -}}
      
{{- /* Check for value set via plugin parameter interface */ -}}
{{- with site.Params.cloud_display_page_counts -}}
  {{- if (in (slice "true" "false") .) -}}
    {{- $display_page_counts = eq . "true" -}}
  {{- end -}}
{{- end -}}
    
<style>
div#category-cloud { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: baseline;
  gap: 10px 10px;
  width: 90%;
  max-width: 900px;
  padding: 0px 20px;
  margin: 40px auto; 
}

a.category-cloud-link { 
  color: #666; 
  margin: 0px;
  padding: 0px;
  line-height: 1;
}

a.category-cloud-link > span.category-count {
  display: {{ cond $display_page_counts "initial" "none" }};
}

a.category-cloud-link:hover { color: #000; }
</style>